<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrapCND resources version 2.3.2 -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <!-- load my CSS page -->
    <link rel="stylesheet" type="text/css" href="/css/home-css.css">
  </head>

  <body id="home">
    <!-- START navbar -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse fixed-top navbar-fixed-top">
          <div class="navbar-inner">

	    <!-- mobile navbar button -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
            </button>

	    <!-- navbar buttons -->
            <div class="nav-collapse collapse"> <!-- TODO: see if this works after removing project name button from nav class -->
	      <a class="brand" href="#">
		Project Name
	      </a>
              <ul class="nav pull-right">
                <li class="nav-button">
                  <a href="#home"> 
                    Home
                  </a>
                </li>
		<li class="nav-button">
                  <a href="#about-section">
                    About
                  </a>
                </li>		
                <li class="nav-button">
                  <a href="#marketing">
                    Search
                  </a>
                </li>
                <li class="nav-button">
                  <a href="#faq">
		    FAQs
                  </a>
                </li>
                <li class="nav-button">
                  <a href="#signup-section">
		    Sign up
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- END navbar -->

    <!-- START carousel -->
    <div id="myCarousel" class="carousel slide" data-pause="remove">
      <div class="carousel-inner">

	<!-- carousel text area -->
	<div class="container" id="carousel-text">
	  <div class="carousel-caption">
	    <h1>Washington is home to hundreds of families that practice safe and sustainable farming</h1>
	    <p class="lead">
	      Learn about the philosophy and practices that make their products
	      the very best.
	    </p>
	    <a class="btn btn-large btn-primary" href="/content">
	      Start Exploring
	    </a>
	  </div>
	</div>	

	<!-- first slide -->
        <div class="item active" style="background-image:url('http://msutoday.msu.edu/_/img/assets/2013/farm-3.jpg')">
	  <!-- farm description area -->
	  <div class="farm-description">
	    <a href="http://oldsilvanacreamery.com/">
	      <img src="http://placehold.it/50x50" alt="placehold" class="pull-right">
	      <div class="farm-text">
		<p class="farm-name">Old Silvana Creamery</p>
		<p class="farm-location">Arlington, WA</p>
	      </div>

	    </a>
	  </div>
        </div>
	
	<!-- second slide -->
        <div class="item" style="background-image: url('https://s3.amazonaws.com/jetstrap-site/images/builder/templates/cta_image2.jpg')">
        </div>

	<!-- third slide -->
        <div class="item" style="background-image: url('https://s3.amazonaws.com/jetstrap-site/images/builder/templates/cta_image3.jpg')">
        </div>
      </div>

      <!-- carousel buttons -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	&lsaquo;
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
	&rsaquo;
      </a>
    </div>
    <!-- END carousel -->
    
    <!-- START about section -->
    <div class="container marketing">
      <div class="featurette" id="about-section">
        <h2 class="featurette-heading text-center">Connect with the best food washington has to offer</h2>
        <p class="lead text-center">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr>
    </div>
    <!-- END about section -->

    <!-- START featured farms section -->
    <div class="container featured-farm">
      <!-- first featured farm -->
      <div class="image-holder" style="background-image: url('http://www.healthline.com/blogs/diet_nutrition/uploaded_images/Colorful-vegetables-755879.jpg')">
      </div>
      <div class="row description-holder">
	<div class="span9 featured-description pull-left">
	  <h2>CONTENT</h2>
	</div>
	<a href="/content">
	  <div class="span2 offset1 learn-button pull-right text-center">
	      Learn More &rsaquo;
	  </div>
	</a>
      </div>
    </div>

      <!-- second featured farm -->
      <div class="image-holder" style="background-image: url('http://itasth.qc.ca/sylvie_poirier/F-V-06/Christine/guersey.jpg')">
      </div>
      <div class="row description-holder">
	<div class="span9 featured-description pull-left">
	  <h2>CONTENT</h2>
	</div>
	<a href="/content">
	  <div class="span2 offset1 learn-button pull-right text-center">
	      Learn More &rsaquo;
	  </div>
	</a>
      </div>
    </div>

      <!-- second featured farm -->
      <div class="image-holder" style="background-image: url('http://www.deluscious.sg/gallery/products/i_artisan_bread7.jpg')">
      </div>
      <div class="row description-holder">
	<div class="span9 featured-description pull-left">
	  <h2>CONTENT</h2>
	</div>
	<a href="/content">
	  <div class="span2 offset1 learn-button pull-right text-center">
	      Learn More &rsaquo;
	  </div>
	</a>
      </div>
    </div>
    <hr class="featurette-divider">
    <!-- END featured farms section -->

    <!-- START faq -->
    <div class="row-fluid faq" id="faq">
      <div class="span10 offset1">	
	<h3 class="text-center">FAQ</h3>
	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse"
		 data-parent="#accordion2" href="#collapseOne">
		What does FAQ stand for?
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse">
	      <div class="accordion-inner">
		Frequently Asked Question.
	      </div>
	    </div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse"
		 data-parent="#accordion2" href="#collapseTwo">
		What's a Frequently Asked Question?
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
		A question which is commonly asked by users.
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <!-- END faq -->

    <!-- START marketing section -->
    <hr class="featurette-divider">
    <div class="container marketing">
      <!-- featurette 1 -->
      <div class="featurette" id="contact-section">
        <h2 class="featurette-heading">
          Oh yeah, it's that good.
          <span class="muted">
            See for yourself.
          </span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr class="featurette-divider">

      <!-- featurette 2 -->
      <div class="featurette"  id="social-section">
        <h2 class="featurette-heading text-center">Tell your friends :)</h2>

	<!-- START AddThis Button -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
	  <a class="addthis_button_preferred_1"></a>
	  <a class="addthis_button_preferred_2"></a>
	  <a class="addthis_button_preferred_3"></a>
	  <a class="addthis_button_compact"></a>
	  <a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5201b7fb1d862775"></script>
	<!-- END AddThis Button -->
      </div>
      <hr class="featurette-divider">
      <!-- END marketing section -->

      <!-- START footer -->
      <footer>
        <p class="pull-right">
          <a href="#">
            Back to top
          </a>
        </p>
	  2013 Company Inc.
          <a href="#">
            Privacy
          </a>
	    *
          <a href="#">
            Terms
          </a>
        </p>
      </footer>
      <!-- END footer -->
    </div>
    
    <!-- load files necessary for couresel buttons to work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <!-- load my own .js files -->
    <script src="/js/home-js.js"></script>

  </body>
</html>

